/* UserList.css */
.user-list-container {
    margin-top: 20px;
    padding: 50px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: #4CAF50;
    color: white;
  }
  