.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FE828C
  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 1em;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #800000;
  color: white;
  border-radius: 5px;
}
